@inherits XPress.Web.Html.HtmlTemplate
@attrib{
}
Test for razor for loop inserts:
@for (int i = 0; i < 100; i++) { 
    <div style="background-color:lightgreen; box-sizing:border-box; padding:2px; margin:0px 10px;">For insert number @(i+1)</div>
}
    
