<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="XPress.Web.Razor.Configuration.XPressRazorWebSectionGroup">
      <section name="host" type="XPress.Web.Razor.Configuration.XPressRazorHostSection" requirePermission="false" />
      <section name="pages" type="XPress.Web.Razor.Configuration.XPressRazorPagesSection" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" batch="false" >
      <buildProviders>
        <add extension=".cshtml" type="XPress.Web.Razor.XPressRazorBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>

    <customErrors mode="Off">
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <add name="XPressRazorMainModule" type="XPress.Web.Razor.XPressRazorHttpModule"/>
    </modules>
    <handlers>
      <add path="*.cshtml" verb="*" type="XPress.Web.Razor.XPressRazorHttpHandler" name="XPressWebPagesHandlerTempalte"/>
      <add path="*.cmd.link" verb="*" type="XPress.Web.Links.LinkHandler" name="XPressWebPagesHandlerLink"/>
    </handlers>
  </system.webServer>
</configuration>